.card-title{ 
    background-color: dimgrey;
    color: #fff;
    text-align: center;
    padding: 40px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    text-transform: uppercase;
    // position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    &:hover{
        border: none
    }
};

.card-title p{
    display: block;
    text-align: center;
}
.imagenes{
    object-fit: unset;
    width: 100%;
    display: block;
    margin: 13px 0;
    transition: all 0.8 ease-in;
    &:hover{
        transform: scale(1.2);
    }
}

.card-footer{
    padding: 20px;
    // background-color: skyblue;
}


.success {
    border-color: #4CAF50;
    color: #fff;
    border-radius: 10px;
    outline: none;
    background-color: #194350;
    &:hover{
        color: #fff;
        background-color: green;
        border-color: #fff;
        outline: none;
        border: none;
    }
}

.accion{
    width: 50px;
    height: 50px;
    background-color: #194350;
    position: absolute;
    top: -15px;
    color: #fff;
    right: -16px;
    border-radius: 50%;
    &:hover{
        box-shadow: 0 3px 15px dimgrey;
        color: #194350;
        background-color: #fff;
    }
}
.accion p{
    margin: 6px 1px 0px 18px;
    font-size: 2rem;
    display: block;
}

.card-footer{
    background-color: dimgrey;
}

.fas{
    font-size: 20px;
}

.btn-eliminar:hover{
    background-color: #fff;
    color: #194350;
}