<div>
    <div *ngIf="guardarInput" (click)="guardar()" class="accion"><p><i class="fas fa-plus fa-xs"></i></p></div>
    <div *ngIf="!guardarInput" (click)="eliminar()" class="accion btn-eliminar"><p><i class="fas fa-trash-alt fa-xs"></i></p></div>
    <!-- TODO cambiar funcion -->
    <!-- <div (click)="guardar()" [ngClass]="'accion'"><p><i class="fas fa-star fa-xs"></i></p></div> -->
    <div>
        <div><img class="imagenes" loading="lazy" [src]="pokemon.img" [alt]="pokemon.name" (error)="errorImage()"></div>
        <div class="card-title">
            <p> {{ pokemon.name }} </p>
            <!-- <button class="btn success">Agregar</button> -->
        </div>
    </div>
</div>
<!-- <div class="card-title">
    <div class="accion"><p>+</p></div>
    <p> {{ pokemon.name }} </p>
</div>
<div class="card-footer"><button class="btn success" (click)="agregar()">Agregar</button></div> -->