section{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    background-color: firebrick;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 20%;
    height: 140px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: gold;
}