main{
    margin: auto;
    width: 100%;
    height: 100%;
}

section{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    // background-color: firebrick;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 23%;
    margin: 10px auto 0;
    background-color: silver;
    border-radius: 5px;
    overflow: hidden;
    // position: relative;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 15px rgb(250, 249, 249);
    }
}