.sectionPokemon{
    // margin-top: 1.5rem;
    // margin-left: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 23%;
    margin: 1.5rem auto 20px;
    border: 1px solid silver;
    border-radius: 10px;
    position: relative;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 15px rgb(43, 39, 39);
    }
}

.boton{
    background-color: #194350;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
}

.botones{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .card{
        width: 40%;
    }
}

@media screen and (max-width: 420px) {
    .sectionPokemon{
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .card{
        width: 37%;
    }
}
