section{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    // background-color: firebrick;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 23%;
    // height: 340px;
    margin: 1.5rem auto 0;
    border: 1px solid silver;
    background-color: silver;
    border-radius: 5px;
    // overflow: hidden;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 15px rgb(43, 39, 39);
    }
}