section{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding: 5px 1rem;
    // background-color: firebrick;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 23%;
    margin: 1.5rem auto 20px;
    border: 1px solid silver;
    border-radius: 10px;
    position: relative;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 15px rgb(43, 39, 39);
    }
}

.no-results{
    width: 300px;
    margin: auto;
    font-size: 3rem;
    font-weight: 500;
}

.imagenSvg{
    width: 500px;
    height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.bordeIzquierdo {
    border-left: 3px solid #194350;
}

div p{
    margin-left: 40px;
}

@media screen and (max-width: 500px) {
    .card{
        width: 40%;
    }
}