/* You can add global styles to this file, and also import other style files */
// @import 'node_modules/angular2-toaster/toaster';
@import '~ngx-toastr/toastr';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    // max-width: 1000px;
}

.btn {
    border-radius: 10px;
    padding: 14px 28px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
}
